<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/digits.css">
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@latest"></script>
    <script src="/js/digits.js" defer></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Prédiction de chiffres manuscrits</h1>

    <div id="canvasDigitConteneur" class="canvasDigitConteneur"></div>
    <div class="canvasDigitConteneur">
        <button id="effacer">effacer</button>
        <button id="predire">prédire</button>
    </div>

    <div id="result" class="canvasDigitConteneur"></div>
</body>
</html>