<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    
    <div class="container">
        
        <h1>Machine learning</h1>

        <div class="row padInd">

            <div class="col-md-3 wid">
                <a href="/tree"><img src="images/tree.png" class="indIm" alt=""></a>
            </div>
            <div class="col-md-9">
                <div class="vert">
                    Apprentissage pour apprendre à différencier les fleurs d'iris d'après la taille des sépales et des pétales, à partir d'arbres de décisions.
                </div>
            </div>

        </div>

        <div class="row padInd">

            <div class="col-md-3">
                <a href="/cluster"><img src="images/cluster.png" class="indIm" alt=""></a>
            </div>
            <div class="col-md-9 vert">
                <div class="vert">
                    Clustering - apprentissage non-supervisé - sur le dataset des fleurs d'iris, 
                    avec affichage graphique sur l'analyse en composante principale (PCA).
                </div>
            </div>

        </div>

    </div>
</body>
</html>