div{
    margin-top: 20px;
}

.tableTree{
    border: 1px solid black;
    margin-top: 50px;
}

.tdTree {
    width: 75px;
    height: 75px;
    border: 1px solid black;
    text-align: center;
}

.iris {
    position: absolute;
    top: 10px;
    right: 200px;
}
.iris img {
    width: 80px;
    height: 80px;
}
.iris:hover {
    border: 1px solid black;
}

.retour {
    position: absolute;
    top: 10px;
    left: 20px;
}
.retour img {
    width: 80px;
    height: 80px;
}
.retour:hover {
    border: 1px solid black;
}

.centrer{  
    width: 100%;
}

#myChartPie #myChart {
    margin: auto
}

.pad {
    margin-top: 40px;
}

.padInd {
    padding-top: 30px;
}

.indIm {
    width: 200px;
    height: 200px;
    margin: auto;
}

.indIm:hover {
    border: 1px solid black;
}

.vert {
    margin: 0;
    position: relative;
    top: 30%;
}

/* page regression */
.h1Centrer {
    text-align: center;
}

.divScrollable {
    overflow-y: scroll; 
    height:150px;    
    padding-left: 20px;
    border: 1px solid black;
    box-shadow: 10px 5px 5px rgb(222, 211, 211);
    border-radius: 6px 0px 0px 6px;
}

.espaceBas {
    margin-bottom: 40px;
}

.espaceHaut {
    margin-top: 50px;
}

.reg label {
    font-style: italic;
}

.reg select {
    float: right;
    margin-right: 50px;
    width: 100px;
}

.centerDivReg {
    width: 300px;
    margin: auto;
    margin-bottom: 30px;
}

.sepReg {
    margin-right: 10px;
    margin-left: 10px;
}

.imRegG {
    width: 100px;
    /* float: rigth;
    margin-right: 20px; */
}
.imRegD {
    width: 100px;
    /* float: left;
    margin-left: 20px; */
}
